.team-section {
  background-color: #f5f4fa;
}

.team-item-content {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #ffffff;
  border-radius: 0px 0px 4px 4px;
}

.team-title {
  font-weight: 500;
  margin-top: 0;
  margin-bottom: 10px;
}

.team-text {
  margin-top: 0;
  margin-bottom: 16px;
}

.team {
  display: flex;
}

.team-item {
  text-align: center;
  width: 270px;
  margin-right: 30px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.team-item:nth-child(4n) {
  margin-right: 0px;
}

.team-socials-list {
  display: flex;
  justify-content: center;
}

.team-socials-icon {
  fill: #afb1b8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

  .team-socials-link:hover &,
  .team-socials-link:focus & {
    fill: white;
  }
}

.team-socials-link {
  width: 44px;
  height: 44px;
  background-color: #ffffff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background-color: var(--accent-color);
  }
}

.team-socials-item + .team-socials-item {
  margin-left: 10px;
}
